body{
    font-family: 'Poppins', sans-serif;
   margin: auto;
}

.line-tittle {
    border-bottom: 1px solid #000;
    font-size: 24px; 
    color: #333; 
}
 
.carrusel-container {
    overflow: hidden;
    width: 40%; 
    margin: 0 auto; 
}

.carrusel-wrapper {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
}

.carrusel-item {
    flex: 0 0 auto;
    flex-basis: 200px;
    margin-right: 10px;
    box-sizing: border-box;
    overflow: hidden; 
}
.carrusel-item img {
    width: 25%; 
    height: auto;
}

.carrusel-item figcaption {
    width: 25%;
    padding: 10px;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

.carrusel-item h2 {
    margin-bottom: 10px;
    color: #007BFF;
}