footer img {
    width: auto;
    height: 80px;
    border-radius: 10%;
  }

  footer a {
    text-decoration: none;
    margin: 10px;
    color: #daeff8;
  }

  footer{
    /* background-color: #87ceeb; */
    color: #daeff8;
    width: 100%;
  } 

  .bordesFooter{
    height: 200px;
    width: 200px;
    background-color: #1c476c;
    border-radius: 0.5rem;
    /* width: 100%;
    flex-grow: 1; */
  }

  @media (max-width: 768px){
    .bordesFooter {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    #redesSocialesFooter{
        padding-bottom: 2rem;
    }
  }