
.container-form {
    width: 80%;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--main-highlighted-bg);
}

#userType {
    display: flex;
    justify-content: space-evenly; 
    padding: 1rem;
}
.pass-items{
    font-size: .7rem;
    font-weight: bold;
}

@media(max-width:570px){
    input{
        font-size: 10px;
    }
}
@media(max-width: 768px){
    .container-form{
        width: 100%;
    }
}
