
:root{
    --primary: #87ceeb;
    --primary-light: #daeff8;
    --primary-dark: #1c476c;
    --white: #ffffff;
    --dark: #121212;
    /* MAIN PAGE*************************************** */
    /*HEADER */
    --heading-bg:#ffffff;
    --heading-text: #000000;
    --button: #135CFE;
    --button-text: #FFFFFF;
    /* MAIN */
    --main-background: #E2EFF7;
    --main-highlighted-text: #FE483B;
    --main-highlighted-bg: #FFFFFF;
    --main-heading: #000000;
    --main-subheading: #000000;
    --main-icons: #ffffff;
    --main-icons-text: #000000;
    /* BUTTON */
    --btn-primary-text: #FFFFFF;
    --btn-primary-bg: #135CFE;
    --btn-secondary-text: #000000;
    --btn-secondary-bg: #ffffff;
    /* ADDS */
    --adds-bg: #ffffff;
    --adds-line: #fe483b;


}
*{
    transition: .2s ease;
}
/* HEADER */
header nav{
    background-color: var(--heading-bg);
}
header *{
    color: var(--heading-text);
    text-decoration: none;
}
.nav-link{
    transition: all .2s;
}
.nav-link:hover{
    font-weight: bold;
    transform: scale(1.1);
    border: 1px solid var(--main-highlighted-text);
    border-radius: .5rem;
    padding: .5rem;
}
#modal-login::backdrop{
    background-color: rgba(0,0,0,.3);
}
#modal-login{
    position: relative;
    border-radius: 15px;
    border: none;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
    background-color: var(--primary-dark);
}
#form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-height: 350px;
    padding: 2.5rem;
}
#form-login .input-group-text{
    background-color: var(--primary-dark);
}
#form-login input{
    border-radius: 0 10px 10px 0;
    border: 1px solid #aaa;
    padding: 5px 10px;
    color: var(--primary-dark) !important;
}
#btn-close-login{
    position: absolute;
    top: 5px;
    right: 5px;
}
#menu-nav{
    margin: 0;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    border:none;
    inset: unset;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 220px;
    border-radius: 0;
    transition: display 0.2s, overlay 0.2s, translate 0.2s;
    translate: calc(var(--open, 0) * -100%) 0;
    overflow: hidden;
}
#menu-nav .navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    list-style: none;
}
#menu-nav li a{
    color: #fff;
}
#menu-nav{
    background: rgb(0, 57, 93);
}
#menu-nav::-webkit-backdrop, #menu-nav::backdrop {
    background: hsl(0 0% 15% / 0.5);
}
body:has([id=menu-nav]:popover-open){
    translate: -220px 0;
    filter: blur(2px);
}
body:has([id=menu-nav]:popover-open) #navbar-toggler{
    display: none;
}
#menu-nav:popover-open,
#menu-nav:popover-open::backdrop {
  @starting-style {
    --open: 0;
  }
  --open: 1;
}
.body-container{
    background-color: var(--main-background);
}

.contenedor{
    background-color: var(--main-highlighted-bg);
    min-height: 80vh;
}

.btn-primary{
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    transition: .3s;
}
.btn-primary:hover{
    background-color: #3173ff;
    color: var(--btn-primary-text);
    border: 1px solid var(--btn-primary-bg);
}
.btn-secondary{
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-text);
    transition: .3s;
}
.btn-secondary:hover{
    background-color: var(--btn-secondary-text);
    color: var(--btn-secondary-bg);
}
.btn-orange{
    background-color: var(--main-highlighted-text);
    color: var(--main-highlighted-bg);
    transition: .3s;
}
.btn-orange:hover{
    background-color: var(--main-highlighted-bg);
    color: var(--main-highlighted-text);
    border: 1px solid var(--main-highlighted-text)
}