:root {
    --color-primario: #FD483B;
    --color-fondo: #E2EFF7;
    --color-texto: #1c476c;
    --color-texto-blanco: #ffffff;
  }
  
  /* Tabla de consulta */
  
  .table-fluid {
    box-sizing: content-box;
    background-color: var(--color-fondo);
  }
  
  #th1 {
    background-color: var(--color-primario);
    color: var(--color-texto-blanco);
  }
  
  .btn {
    background-color: var(--color-primario);
    border: 2px solid var(--color-texto-blanco);
    color: var(--color-texto-blanco);
  }
  


